@model UpdateContactDto

@{
    ViewData["Title"] = "UpdateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ana Sayfa İletişim Bilgi İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">İletişim Bilgileri Güncelleme Sayfası</div>
                        </div>
                        <input type="hidden" asp-for="ContactId" />
                        <div class="card-body">
                            <div class="form-group">
                                <label for="location"><b>Konum</b></label>
                                <input type="text" class="form-control" id="location" asp-for="Location">
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber"><b>Telefon</b></label>
                                <input type="tel" class="form-control" id="phoneNumber" asp-for="PhoneNumber">
                            </div>
                            <div class="form-group">
                                <label for="mail"><b>Mail Adresi</b></label>
                                <input type="email" class="form-control" id="mail" asp-for="Mail">
                            </div>
                            <div class="form-group">
                                <label for="description"><b>Açıklama</b></label>
                                <textarea rows="5" class="form-control" id="footerDescription" asp-for="FooterDescription"></textarea>
                            </div>
                            <div class="d-flex justify-content-end mt-4 none-border">
                                <button type="submit" class="btn btn-outline-success mr-3 btn-rounded">Yeni Yazı Ekle</button>
                                <a href="/Contact/Index/" class="btn btn-outline-danger btn-rounded mr-2">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>