@model CreateBookingDto

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeadComponentPartial")

<body class="sub_page">

    <div class="hero_area">
        @await Component.InvokeAsync("_UILayoutNavbarComponentPartial")
    </div>

    <section class="book_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Rezervasyon Oluşturun
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form_container">
                        <form method="post">
                            <div>
                                <span class="text-danger" asp-validation-for="Name"></span>
                                <input type="text" class="form-control" placeholder="Ad Soyad" asp-for="Name" />
                            </div>
                            <div>
                                <span class="text-danger" asp-validation-for="Phone"></span>
                                <input type="text" class="form-control" placeholder="Telefon Numarası" asp-for="Phone" />
                            </div>
                            <div>
                                <span class="text-danger" asp-validation-for="Mail"></span>
                                <input type="email" class="form-control" placeholder="Mail Adresi" asp-for="Mail" />
                            </div>
                            <div>
                                <span class="text-danger" asp-validation-for="PersonCount"></span>
                                <select class="form-control nice-select wide" asp-for="PersonCount">
                                    <option value="" disabled selected>
                                        Kiş Sayısı
                                    </option>
                                    <option value="1">
                                        1
                                    </option>
                                    <option value="2">
                                        2
                                    </option>
                                    <option value="3">
                                        3
                                    </option>
                                    <option value="4">
                                        4
                                    </option>
                                    <option value="5">
                                        5
                                    </option>
                                    <option value="6">
                                        6+
                                    </option>
                                </select>
                            </div>
                            <div>
                                <span class="text-danger" asp-validation-for="Date"></span>
                                <input type="date" class="form-control" asp-for="Date">
                            </div>
                            <div class="btn_box">
                                <button>
                                    YERİNİZİ AYIRTIN
                                </button>
                            </div>
                            <br />
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map_container ">
                        <iframe src="@ViewBag.location" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")

    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")

</body>

</html>
