@model CreateFeatureDto

@{
    ViewData["Title"] = "CreateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Öne Çıkan Alan İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Öne Çıkan Alan Ekleme Sayfası</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="title1"><b>1. Başlık</b></label>
                                <input type="text" class="form-control" id="title1" asp-for="Title1">
                            </div>
                            <div class="form-group">
                                <label for="title2"><b>2. Başlık</b></label>
                                <input type="text" class="form-control" id="title2" asp-for="Title2">
                            </div>
                            <div class="form-group">
                                <label for="title3"><b>3. Başlık</b></label>
                                <input type="text" class="form-control" id="title3" asp-for="Title3">
                            </div>
                            <div class="form-group">
                                <label for="description1"><b>1. Açıklama</b></label>
                                <input type="text" class="form-control" id="description1" asp-for="Description1">
                            </div>
                            <div class="form-group">
                                <label for="description2"><b>2. Açıklama</b></label>
                                <input type="text" class="form-control" id="description2" asp-for="Description2">
                            </div>
                            <div class="form-group">
                                <label for="description3"><b>3. Açıklama</b></label>
                                <input type="text" class="form-control" id="description3" asp-for="Description3">
                            </div>
                            <div class="d-flex justify-content-end mt-4 none-border">
                                <button type="submit" class="btn btn-outline-success mr-3 btn-rounded">Öne Çıkan Alanı Ekle</button>
                                <a href="/Feature/Index/" class="btn btn-outline-danger btn-rounded mr-2">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>